OpenGait/all_env/env_seg
OpenGait/all_env/env_track
OpenGait/all_env/env_rec
OpenGait/demo/output
OpenGait/demo/libs/pickle_variables
OpenGait/demo/checkpoints
Phase1
OpenGait/output
OpenGait/dataset_full
misc
mars.zip
mars/

*.jpg
*.png
OpenGait/demo/libs/pickle_variables
OpenGait/demo/output
*.mp4

ByteTrack